body {
  font-family: "NotoSans TC", BalooTamma2;
  background-color: $gray-100;

  .header {
    border-bottom: 2px solid #ffdf65;

    .navbar-toggler {
      border-color: rgba(0, 0, 0, 0);
      color: rgba(0, 0, 0, 0);
    }

    .navbar-toggler-icon {
      width: 2.5rem;
    }

    .login {
      color: #636057;
    }

    .nav_b {
      padding: 8px;
      padding-left: 32px;
      padding-right: 32px;
    }
  }

  main {
    // section
    // h1 {
    //   letter-spacing: 3px;
    // }

    .price {
      font-family: BalooTamma2;
      // font-weight: 600;
      // margin-bottom: 12px;
    }

    .icon {
      width: 24px;
      height: 24px;
    }

    .donate_border {
      border-left: 3px solid #ffdf65;
    }
  }

  //  Navs & Tabs
  .nav_item {
    border: none;
    background-color: transparent;
    border-bottom: 1px solid transparent;
    letter-spacing: 2px;

    &:hover {
      font-weight: bold;
      border-bottom: 1px solid #ffdf65;
    }

    // &:focus {
    //   font-weight: bold;
    //   border-bottom: 1px solid #ffdf65;
    // }
  }
  li {
    .active {
      font-weight: bold;
      border-bottom: 1px solid #ffdf65;
    }
  }

  // 專案介紹
  // h3 {
  //   letter-spacing: 1.92px;
  // }

  // form
  .input_bg {
    background-color: #f7f7f7;
  }

  // 右邊強迫贊助
  .office_pic {
    width: 100px;
    height: 100px;
  }

  .share_icon {
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
  }

  .project_border {
    border-left: 4px solid #ffdf65;
    border-right: 4px solid #ffdf65;
  }
}

// 自訂 class

.pic_rwd {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pic_round_over {
  border-radius: 32px;
  overflow: hidden;
}

.txt_border_left {
  border-left: 4px solid #ffdf65;
}

/* 添加這些樣式讓 Toast 位於畫面正中央 */
.toast-center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

// letter-spacing
.ls_1 {
  letter-spacing: 0.7px;
}
.ls_2 {
  letter-spacing: 1px;
}
.ls_3 {
  letter-spacing: 1.5px;
}

.ls_4 {
  letter-spacing: 1.92px;
}
.ls_5 {
  letter-spacing: 2px;
}
.ls_6 {
  letter-spacing: 3px;
}

.rounded_4 {
  border-radius: 8px;
  overflow: hidden;
}

.fs_7 {
  font-size: 14px;
}
.fs_8 {
  font-size: 18px;
}
.fs_9 {
  font-size: 12px;
}

.bg_E8E8DB {
  background-color: #e8e8db;
}

// .h_100 {
//   height: auto;
// }
// BUG
.h_100vh_sticky {
  height: calc(100vh - 82px);
  position: sticky;
  top: 82px;
  overflow: scroll;
  z-index:  999;
}
