.header {
  border-bottom: 2px solid #ffdf65;

  .navbar-toggler {
    border-color: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0);
  }

  .navbar-toggler-icon {
    width: 2.5rem;
  }

  .login {
    color: #636057;
  }
}
